name: "ZIGLOO CI"
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: "Build Docker image."
        run: docker build -t jj .
